<div id="hero-header">
	<div class="header-container">
		<div class="container">
			<div class="header-text text-center">
				<div class="hello-heading">Hello, World!</div>
				<div class="section-subheading">
					As you’re likely aware, every bit of your website or blog needs content development at one point or another. However, I find that many people get stuck when it comes to developing content for their business’s service and product pages.
				</div>
				<button href="#learn-more" data-backdrop="static" data-toggle="modal" class="page-scroll  btn learn-more-btn boxshadow">Learn More <i class="fa fa-angle-double-right"/>
				</button>
			</div>
		</div>  	
	</div>
</div>
