<section id="rendering-web">
	<div class="container">
		<div class="row">
			<h2 class="sec-heading visible-xs">Rendefining the Web</h2>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<img src="assets/img/layers.png" class="img-responsive rendering-web-image"/>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<h2 class="sec-heading hidden-xs">Rendefining the Web</h2>
				<div class="sec-content">
					<p>
						As you’re likely aware, every bit of your website or blog needs content development at one point or another. However, I find that many people get stuck when it comes to developing content for their business’s service and product pages.
					</p>
					<p>
						As you’re likely aware, every bit of your website or blog needs content development at one point or another. However, I find that many people get stuck when it comes to developing content for their business’s service and product pages.
					</p>
				</div>
				<div class="learn">
					<button href="#learn-more" data-toggle="modal" data-backdrop="static" class="btn btn-lg learn-more-btn portfolio-link">Learn More</button>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="learn-more" >
		<div class="modal-dialog text-center">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<i class="fa fa-close close"></i>
				</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
					<div class="modal-body">
						<h2>Rendefining the Web</h2>
						<h3 class="item-intro">Mode details provided here.</h3>
							<p>
								As you’re likely aware, every bit of your website or blog needs content development at one point or another. However, I find that many people get stuck when it comes to developing content for their business’s service and product pages.
							</p>
							<p>
								As you’re likely aware, every bit of your website or blog needs content development at one point or another. However, I find that many people get stuck when it comes to developing content for their business’s service and product pages.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>